.idea
.DS_Store
train_data/train2/
train_data/train4/
marktypes/controur_processor.pyc
marktypes/z_mark_processor.pyc
marktypes/e_mark_processor.pyc
marktypes/h_mark_processor.pyc
/docs/latex*
data
*.pyc
/train_data/train3
/docs/_static
test.png